@use "./style/header.scss";
@use "./style/menu.scss";
@use "./style/article.scss";
@use "./style/card.scss";

:root {
  --font-family: "Staatliches", sans-serif;
  --font-text: "PT Sans", sans-serif;
  --font-chapter: "Farro", sans-serif;

  --color-border: #bdbdbd;
  --color-text: #000000;
  --color-bg-text: #dadada;
  --color-white: #fff;
  --color-hover: rgb(28, 127, 53);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-text);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: var(--color-text);
}
.wrapper {
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 100vh;
}
.grid {
  display: grid;
  grid-template-columns: 385px 1fr;
  gap: 30px;
  padding-top: 35px;
}

.image-bg {
  position: fixed;
  top: 150px;
  right: 0px;
  z-index: -1;
}
