* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 44px;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

// --------global style and---------- //

.header {
  position: absolute;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background: linear-gradient(135deg, (#7e5aff), (#55b7ff));
  &__container {
  }
  &__nav {
  }
  &__list {
  }
  &__social {
  }
  &__list {
  }
  &__item {
  }
}
