:root {
    --font-style: "Montserrat", sans-serif;

    --color-black: #2F281E;
    --color-white: #FFFFFF;
    --color-text: #544837;
    --color-gray: #BCD0E5;
    --color-orange: #FF9900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-style);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.h2 {
    color: var(--color-black);
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 16px;
}