.article {
  padding-top: 100px;

  &:hover {
    --title-after-width: 200px;
  }
  &__line {
    // width: 100px;
    // height: 8px;
    // background-color: var(--color-text);
    // margin-bottom: 20px;
  }
  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    margin-bottom: 20px;

    &::before {
      content: "";
      display: block;
      width: 100px;
      height: 8px;
      background-color: var(--color-text);
      transition: width 1s;
      width: var(--title-after-width, 100px);
      margin-bottom: 20px;
    }
  }

  &__chapter {
    font-family: var(--font-chapter);
    font-weight: 300;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.64px;
    position: super;
  }
  &__text {
    font-family: var(--font-text);

    font-weight: 400;
    font-size: 28px;
    line-height: 48px;

    margin-bottom: 40px;
  }
  &__text.text-bottom {
    margin-bottom: 0px;
  }
  &__span {
    margin-bottom: 40px;
  }
}
