.card {
  &__container {
    padding-top: 150px;
  }

  &__title {
    padding-bottom: 40px;
    ::before {
      content: "";
      display: block;
      width: 100px;
      height: 8px;
      background-color: var(--color-text);
      margin-bottom: 20px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 30px;

    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
  }
}
