.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
  }
  &__group {
    display: flex;
    gap: 50px;
    align-items: center;
  }
  &__end {
  }
  &__nav {
  }
  &__item {
  }
  &__logo {
  }
}
