.menu {
  position: sticky;
  top: 150px;
  align-self: start;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.64px;
  text-transform: uppercase;

  &__list {
  }

  &__item {
    margin-bottom: 70px;
    cursor: pointer;
  }

  &__link {
    margin-bottom: 80px;
    &:hover {
      color: var(--color-hover);
      &::after {
        width: 70%;
      }
    }
    &::after {
      content: "";
      display: block;
      height: 1px;
      background-color: var(--color-border);
      transition: width 1s;
      width: 100%;
    }
  }
}
