// header start
.header {
  padding: 17px 0;
  margin-bottom: 70px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  &__link {
    cursor: pointer;
    &:hover {
      color: var(--color-coral);
    }

    &:active {
      color: var(--color-coral-secondary);
    }

    &:disabled {
      color: var(--color-gray-light);
    }
  }
  &__link--active {
    color: var(--color-orange);
  }
  &__button-group {
    display: flex;
    gap: 32px;
  }
}
//header and
