// header start
.header {
  padding: 17px 0;
  margin-bottom: 70px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__button-group {
    display: flex;
    gap: 32px;
  }
}
//header and
